<div id="header-portrait">
    {{> "systems/hackmaster5e/templates/actor/parts/header/header-portrait.hbs" }}
</div>
<div id="header-stats" class="hmstyle">
    {{> "systems/hackmaster5e/templates/actor/parts/header/header-stats.hbs" }} 
</div>
