<div class="header-portrait">
    {{> "systems/hackmaster5e/templates/actor/parts/header/header-portrait.hbs" }}
</div>
<div class="header-stats">
    {{> "systems/hackmaster5e/templates/actor/parts/header/header-stats.hbs" }} 
</div>
