<div>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div>
        {{#if actor.race.name}}{{actor.race.name}}{{/if}}
    </div>
</div><div>
    HI HELLO
</div>

