@use "../helpers/variables";

.hm-chat-note {
  border: none;
  padding: 0 variables.$padding-sm;

  > .hm-chat-note-row {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
    min-width: 0;

    i {
      font-size: 0.75rem;
    }

    a {
      color: var(--color-text-dark-secondary);
    }
  }
}

hr {
  border: 0;
  margin: 0.5rem 0; 
  height: 1px; 
  background: linear-gradient(
    to right, 
    transparent, 
    black 10%,
    black 90%,
    transparent
  );
}

.dice-tooltip .dice-rolls .roll.penetrated:before {
    font-size: 0.5rem;
    font-family: var(--font-awesome);
    content: '\f124';
    position: absolute;
    top: -8px;
    right: 0;
}

.hm-shake {
    position: relative;
    text-decoration: none;
    display: inline-block;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    animation: hm-shake-key .8s 1 alternate;
}

@keyframes hm-shake-key {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
    }
}

.hm-dice-flavor {
  text-align: right;
  font-size: var(--font-size-12);
}
