.hm-chat-note {
    padding: $padding-sm;
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    justify-content: space-between;

    span { min-width: 0; }
    i { font-size: .75rem; }
    a { color: var(--color-text-dark-secondary); }
}
