@use "../helpers/colors";

hr.npc-divider {
    border-top: 0;
    border-bottom: 2px groove var(--color-border-dark-4);
}

li.combatant.defeated .initiative {
    color: var(--color-text-dark-inactive);
    text-shadow: none;
}

.initiative {
    color: colors.$c-white;

    &.ready-to-act {
        color: colors.$c-orange;
        text-shadow: 0 0 5px colors.$c-orange;
    }

    &:hover {
        border: 1px solid colors.$c-orange;
        border-radius: 2px;
        box-shadow: 0 0 5px colors.$c-orange;
        padding: 0 3px;
    }
}
