/* Import utilities */
@use "sass:meta";
@use 'base/typography';
@use 'helpers/colors';
@use 'helpers/mixins';
@use 'helpers/units';
@use 'helpers/variables';

/* Global styles */
@use 'layout/window';
@use 'layout/grid';
@use 'layout/flex';

/* Styles limited to hackmaster sheets */
.hackmaster {
    @include meta.load-css('parts/forms');
    @include meta.load-css('parts/resource');
    @include meta.load-css('parts/tabs');
    @include meta.load-css('parts/tooltips');
    @include meta.load-css('parts/skills');
    @include meta.load-css('parts/cards');
    @include meta.load-css('parts/ui');
    @include meta.load-css('parts/dialog');
    @include meta.load-css('layout/actor-sheet');
    @include meta.load-css('layout/inventory');
    @include meta.load-css('layout/bio');
}

/* Styles which override foundry core */
.window-app {
    --font-primary: 'Korinan', 'Gentium', 'Roboto', serif;
}

#chat,
#chat-popout,
#chat-notifications {
    --font-body: 'Korinan', 'Gentium', 'Roboto', serif;
    @include meta.load-css('overrides/chat');

    .message-content, .message-header, .dice-formula, .dice-total {
        font-family: var(--font-body);
    }
}

#combat,
#combat-popout {
    @include meta.load-css('overrides/combat');
}

#measurement {
    @include meta.load-css('overrides/measurement');
}
