/* Import utilities */
@import 'base/typography';
@import 'helpers/colors';
@import 'helpers/mixins';
@import 'helpers/units';
@import 'helpers/variables';

/* Global styles */
@import 'layout/window';
@import 'layout/grid';
@import 'layout/flex';

/* Styles limited to hackmaster sheets */
.hackmaster {
    @import 'parts/forms';
    @import 'parts/resource';
    @import 'parts/tabs';
    @import 'parts/tooltips';
    @import 'parts/skills';
    @import 'parts/cards';
    @import 'parts/ui';
    @import 'parts/dialog';
    @import 'layout/actor-sheet';
    @import 'layout/inventory';
    @import 'layout/bio';
}

/* Styles which override foundry core */
:root {
    --font-primary: 'Korinan', 'Gentium', 'Roboto', serif;
    scrollbar-color: unset;
}

#chat-log {
    @import 'overrides/chat';
}

#combat,
#combat-popout {
    @import 'overrides/combat';
}
