<section class="form-group">
    <label>{{localize 'HM.dialog.rollMode'}}</label>    
    <select id='rollMode' class='bind' data-prop='rollMode'>
        {{selectOptions rollModes selected=rollMode localize=true}}
    </select>
</section>
