<div class="form-group form-group--row-full">
    <label>{{localize 'HM.dialog.rollMode'}}</label>
    <div class="form-group__control">
        <select class="form-group__control" name="rollMode">
            {{#each rollModes}}
                <option value="{{@key}}">{{localize this.label}}</option>
            {{/each}} 
        </select>
    </div>
</div>
