{{!-- This version uses the hackmaster2 css class. --}}
<section class="form-group form-group--row-full">
    <label>{{localize 'HM.dialog.rollMode'}}</label>
    <div class="form-group__control">
        <select class="form-group__control" name="rollMode">
            {{selectOptions rollModes selected=rollMode localize=true}}
        </select>
    </div>
</section>
