<section class="grid-2col">
    <div class="magic-prepared">
        {{> "systems/hackmaster5e/templates/actor/parts/magic/magic-prepared.hbs" }}
    </div>
    <div class="magic-unprepared">
        {{> "systems/hackmaster5e/templates/actor/parts/magic/magic-unprepared.hbs" }}
    </div>
</section>
