<section class="grid-2col">
    <div>
        <label class="resource-label">{{localize "HM.prepared"}} {{localize "HM.spells"}}</label>
        <ol class="card-list">
        {{#each actor.spells}}
            {{#if data.prepared.checked}}
                {{> "systems/hackmaster5e/templates/actor/cards/spell.hbs" }}
            {{/if}}
        {{/each}}
        </ol>
    </div>
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/magic/magic-unprepped.hbs" }}
    </div>
</section>
