<label class="resource-label">Unprepared Spells</label>
<ol class="card-list">
    {{#each actor.spells}}
        {{#if data.prepared.checked}}{{else}}
            {{> "systems/hackmaster5e/templates/actor/parts/magic/cards/spell.hbs" }}
        {{/if}}
    {{/each}}
</ol>
