<section class="flexcol u-reset-top">
    <div class="form-group form-group--row-full">
        <label class="form-group__label">{{localize "HM.bonus"}}</label>
        <div class="form-group__control">
            <input type="number" name="mod" value="{{mod}}" step="1" placeholder="0" autofocus />
        </div>
    </div>
    <div class="form-group form-group--row-full">
        <p class="hint">Enter a number, ya dingus.</p>
    </div>
</section>
