<form>
    <div class='form-group'>
        <label>{{localize 'HM.dialog.getInitDieBody'}}</label>
        <select name='data.quality' id='choices'>
            {{selectOptions (findConfigObj 'dice') selected='1d12' localize=true}}
        </select>
    </div>
</form>
