<section class="flexcol u-reset-top">
    <div class="form-group form-group--row-full">
        <label class="form-group__label">{{localize 'HM.dialog.getInitDieBody'}}</label>
        <div class="form-group__control">
            <select name="selectedDie" autofocus>
                {{selectOptions (findConfigObj "initiativeDice") selected=selectedDie localize=true}}
            </select>
        </div>
    </div>

    <div class="form-group form-group--row-full">
        <label class="form-group__label">{{localize 'HM.modifier'}}</label>
        <div class="form-group__control">
            <input type="number" name="modifier" value="{{modifier}}" step="1" />
        </div>
    </div>
</section>
