<form class='hackmaster'>
    <div class='form-group'>
        <label>{{localize 'HM.dialog.setWoundBody'}}</label>
        <input id='hp' type='number' placeholder='0'/>
    </div>
    <div class='form-group'>
        <label>{{localize 'HM.dialog.setWoundToP'}}</label>
        <input id='assn' type='number' placeholder='0'/>
    </div>
</form>
