<section class="grid-2col">
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/spells/spells-prepped.hbs" }}
    </div>
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/spells/spells-library.hbs" }}
    </div>
</section>
