<label class='resource-label'>{{localize 'HM.spelllibrary'}}</label>
<select name='system.cslevel'>
    <option value='all'>{{localize 'HM.spellLevels.all'}}</option>
    {{selectOptions actor.slevels selected=actor.system.cslevel localize=true}}
</select>
<ol class='card-list scrollable' style='height: 29rem;'>
    {{#each actor.spells}}
        {{#if
            (or (eq system.lidx ../actor.system.cslevel)
                (eq 'all' ../actor.system.cslevel)
            )
        }}
            {{> 'systems/hackmaster5e/templates/actor/cards/spell.hbs' }}
        {{/if}}
    {{/each}}
</ol>
