<ol class='skills-list grid-3col'>
    {{#with actor.skills}}
    <span>
        <header class='resource-label'>{{localize 'HM.SKILLS.uskills'}}</header>
        {{#each uskills}}
            {{#if (ishalf @index ../uskills.length)}}
    </span>
    <span>
            {{/if}}
            {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
        {{/each}}
    </span>
    <span class='scrollable' style='height: 30.5rem; margin-top: -2px;'>
        {{#if skills}}
        <header class='resource-label'>{{localize 'HM.SKILLS.oskills'}}</header>
            {{#each skills}}
                {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
            {{/each}}
        {{/if}}
        {{#if langs}}
        <header class='resource-label' style='padding-top: 6px;'>{{localize 'HM.SKILLS.lskills'}}</header>
            {{#each langs}}
                {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
            {{/each}}
        {{/if}}
    </span>
    {{/with}}
</ol>
