<ol class='skills-list grid-3col'>
    {{#with actor.skills}}
    <span class='scrollable' style='height: 30.7rem; margin-right: -4px;'>
        <header class='resource-label'>{{localize 'HM.SKILLS.uskills'}}</header>
        {{#each col1Skills}}
            {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
        {{/each}}
    </span>
    <span class='scrollable' style='height: 30.7rem; margin-right: -4px;'>
        {{#each col2Skills}}
            {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
        {{/each}}
    </span>
    <span class='scrollable' style='height: 30.7rem; margin-top: -2px;'>
        {{#if otherSkills}}
        <header class='resource-label'>{{localize 'HM.SKILLS.oskills'}}</header>
            {{#each otherSkills}}
                {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
            {{/each}}
        {{/if}}
        {{#if langSkills}}
        <header class='resource-label' style='padding-top: 6px;'>{{localize 'HM.SKILLS.lskills'}}</header>
            {{#each langSkills}}
                {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
            {{/each}}
        {{/if}}
    </span>
    {{/with}}
</ol>
