<ol class='skills-list grid-3col'>
    {{#with actor.skills}}
    <span>
        <header class='resource-label'>{{localize 'HM.SKILLS.uskills'}}</header>
        {{#each uskills}}
            {{#if (isHalf @index ../uskills.length)}}
    </span>
    <span>
            {{/if}}
            {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
        {{/each}}
    </span>
    <span class='scrollable' style='height: 30.5rem; margin-top: -2px;'>
        {{#if oskills}}
        <header class='resource-label'>{{localize 'HM.SKILLS.oskills'}}</header>
            {{#each oskills}}
                {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
            {{/each}}
        {{/if}}
        {{#if iskills}}
        <header class='resource-label' style='padding-top: 6px;'>{{localize 'HM.SKILLS.lskills'}}</header>
            {{#each iskills}}
                {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
            {{/each}}
        {{/if}}
    </span>
    {{/with}}
</ol>
