<ol class="inventory-list">
    <li class="table-header">
        <label>Carried: {{actor.data.data.encumb}} lbs.</label>
    </li>
    {{#each actor.gear}}
        {{> "systems/hackmaster5e/templates/actor/cards/item.hbs" }}
    {{/each}}
</ol>
