<ol class="inventory-list">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">Name</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
        </div>
    </li>
    {{#each actor.gear}}
        {{> "systems/hackmaster5e/templates/actor/cards/item.hbs" }}
    {{/each}}
</ol>
