<ol class='cards-list inventory'>
    <header>
        {{> 'systems/hackmaster5e/templates/actor/parts/inventory/inventory-weight.hbs' }}
    </header>

    <section class='scrollable'>
        {{> 'systems/hackmaster5e/templates/actor/parts/inventory/inventory-list.hbs' }}
    </section>

    <footer>
        {{> 'systems/hackmaster5e/templates/actor/parts/inventory/inventory-currency.hbs' }}
    </footer>
</ol>
