.cards-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;

    .cards-header {
        font-weight: bold;
    }

    .card {
        border: 2px solid #BBB;
        border-radius: $card-border-radius; 
        display: grid;
        margin: 5px;
        grid-template-columns: 50% 1fr; 
        
        img {
            flex: 0 0 auto;
            display: block;
            @include card-border-right;
            margin: -2px; 
        }

        .statblock {
            background: lightgrey;
            @include flexgrid;
        }

        header {
            display: flex;
            flex-direction: row;

        }
    }

    .card-name {
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
    }

    .card-value {
        background: grey;
        margin-right: 2px;
        flex: 0 1 2em;
        text-align: right;
    }

    .card-controls {
        flex: 0 1 auto;
        text-align: right;
    }

    .card-column {
        display: flex;
        flex-direction: row;
    }
}

