.cards-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    .card-controls {
        text-align: right;
        margin-right: 2px;
        margin-left: 2px;
    }

    .table-header {
        text-align: right;
    }

    .flex-space-between {
        select { height: 20px; }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
    
    .expanded {
        grid-row-start: 1;
        grid-row-end: span 2;
        background: grey;
    }

.card {
    border: $card_border solid $c-grey;
    border-top-left-radius: $card-border-radius; 
    border-bottom-left-radius: $card-border-radius; 
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin: 3px;

    .hide { @include hide; }

    @include table-basic;

    input {
        margin-top: 1px;
        width: 2em;
        margin-right: 2px;
    }

    > section {
        padding: 5px;
        
        input[type=number] {
            background: transparent;
            border: 1px solid;
            padding: 0;
            margin: 0;
            height: 16px;
            text-align: right;
        }

        input[type=text] {
            background: transparent;
            padding: 0;
            margin: 0;
            text-align: right;
        }
    }

    summary { 
        display: flex;
        justify-content: space-between;

        > section {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            flex: 0 1 auto;
            border: 0;
            padding: 0;
            img {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    } 

    header {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        min-width: 0;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            padding-left: 2px;
            margin-top: 1px;
            margin-bottom: -1px;
        }

        img {
            flex: 0 0 auto;
            align-self: flex-start;
            display: block;
            @include card-border-left($card-border-radius);
        }

        label {
            display: flex;
            align-items: center;
            flex-direction: row;

            .spell-level {
                flex: 0 0 28px;
                justify-content: center;
                height: 100%;
                border-right: $card_border solid $c-grey;
            }
        }
    }

    .card-expanded {
        display: grid;
        grid-template-columns: 1fr auto auto;
        column-gap: $padding-sm;

        .reach, 
        .secondary-controls {
            padding-top: $padding-sm;
        }

        .secondary-controls {
            display: grid;
            align-items: start;
            justify-self: start;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            border-right: $vert-break;
            padding-right: $padding-sm;
            column-gap: $padding-sm;
        }
    }

    .inventory-details {
        display: grid;
        margin-right: 1em;
        grid-template-columns: 1fr 5em 2em 5em;
        justify-items: end;
        gap: 1em;
    }
}
