.item-form {
    font-family: $font-primary;
    display: grid;
    grid-template-columns: auto auto 1fr;
    input[type="text"],
    input[type="number"] {
        width: 3em;
        min-width: 3em;
    }
    
    input[type="number"] {
        text-align: right;
    }

    input:read-only {
        border: 0;
        background: none;
    }

    @include table-basic;

    .sidepanel {
        .options-block {
            display: flex;
            height: auto;
            flex-direction: column;
            margin: 5px;
            margin-bottom: 9px;
            padding: 10px;
            border-radius: 5px;
            border: solid;

            label { padding-right: 5px; }
        }

        .options-row-l,
        .options-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input[type=text] {
                width: 100%;
            }
        }

        .options-row-l {
            justify-content: flex-start;
        }
    }

    .item-table { @include flexgrid; }
}


.sheet-header {
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-content: start;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs { flex: 0; }

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.card {
    h1.itemname {
        height: 50px;
        padding: 0px;
        margin: 5px 0;
        border: 0;
        border-bottom: 0;
        input {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.setup {
    .bonus {
        display: grid;
        grid-template-columns: auto 1fr; 
        align-items: center;
        column-gap: 5px;
        row-gap: 2px;

        >.bonus-row {
            display: flex;
            flex-flow: row wrap;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid;

            >.bonus-block {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                column-gap: 2px;
            }
        }
    }



}
