.form-group {
    input[type="text"],
    input[type="number"] {
        max-width: 4em;
        text-align: right;
    }
}

.newform {
    .col_rborder {
        padding-right: $padding-md;
        border-right: 1px solid;
    }

    .button {
        &:hover {
            @include text-glow($shad-1px);
        }
    }

    @include table-basic;
    table {
        input[type="text"],
        input[type="number"] {
            min-width: 3em;
            width: 3em;
        }
    }

    .form-data {
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        input[type="text"],
        input[type="number"] {
            width: 4em;
            min-width: 4em;
            text-align: right;
            height: 1.25em;
        }
    }

    .form-option {
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        align-items: center;

        input[type="text"],
        input[type="number"] {
            width: 4em;
            height: 1.75em;
            text-align: center;
        }

        &.narrow {
            input[type="number"] {
                width: 2.2em;
            }
        }

        input[readonly] {
            background: none;
            border: none;
        }

        select {
            height: 1.75em;
            min-width: 8em;
            width: 8em;
        }
    }
}

.item-form {
    font-family: $font-primary;
    display: grid;
    grid-template-columns: auto auto 1fr;
    input[type="text"],
    input[type="number"] {
        width: 3em;
        min-width: 3em;
    }
    
    input[type="number"] {
        text-align: right;
    }

    input:read-only {
        border: 0;
        background: none;
    }

    @include table-basic;

    .sidepanel {
        .options-block {
            display: flex;
            height: auto;
            flex-direction: column;
            margin: 5px;
            margin-bottom: 9px;
            padding: 10px;
            border-radius: 5px;
            border: solid;

            label { padding-right: 5px; }
        }

        .options-row-l,
        .options-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input[type=text] {
                width: 100%;
            }
        }

        .options-row-l {
            justify-content: flex-start;
        }
    }

    .item-table { @include flexgrid; }
}


.sheet-header {
    flex: 0 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-content: start;

    .header-fields {
        flex: 1;
    }

    h1.charname {
        height: 50px;
        padding: 0px;
        margin: 5px 0;
        border-bottom: 0;
        input {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

.sheet-tabs,
.bio-tabs {
    flex: 0;
    align-items: center;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: 100%;
}

.bio-body,
.bio-body .tab,
.bio-body .tab .editor {
    height: 125%;
}

.bio-body {
    display: grid;
    grid-template-columns: 1fr;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.card {
    h1.itemname {
        height: 50px;
        padding: 0px;
        margin: 5px 0;
        border: 0;
        border-bottom: 0;
        input {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.setup {
    .abilities {
        input {
            width: 1.5em;
            height: 16px;
            padding: 0;

            &:disabled {
                border: none;
                background: none;
                color: inherit;
            }
        }
    }
}
