.skills-list {
    list-style: none;
    margin: -3px 0;
    padding: 0;
    overflow-y: auto;

    >span {
        .resource-label {
            padding-top: 9px;
            padding-bottom: 2px;
        }
    }

    section {
        background: $cs-light;
        
        .button {
            border: 1px solid;
            border-radius: 2px;
            width: 1.75em;
        }
    }
}
