.hmstyle {
    .tablerow {
        margin: 2px 0;
        &:nth-child(2n-1) {
           background: $cs-light;
        }
    }

    .button {
        text-align: center;
        margin-left: 2px;
        &:hover {
            @include text-glow;
        }
    }

    .imgbutton {
        @include button-border(5px);
    }
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    width: 5.5em;
    margin: 2px;
    margin-bottom: auto;

    input {
        border: none;
        background: none;
        box-shadow: unset;
        text-align: center;
        height: $font-primary-size;
        &:hover {
            @include text-glow;
        }
    }

    label {
        text-align: center;
        width: 5em;
    }

    >.divisor {
        width: 80%;
        height: 3px;
        background: black;
    }
}

