.hmstyle {
    .tablerow {
        margin: 2px 0;
        &:nth-child(2n-1) {
           background: $cs-light;
        }
    }

    .button {
        text-align: center;
        margin-left: 2px;
        &:hover {
            @include text-glow;
        }
    }

    .imgbutton {
        @include button-border(5px);
    }
}

.statdisplay {
    display: grid;
    grid-template-rows: 1fr auto;
    border: 2px solid;
    border-radius: 5px;
    width: auto;
    margin: 2px;
    text-align: center;
    >.value {
        font-size: 18px;
    }
}

.category {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3em 1fr;
    grid-column: span 2;
    border: 2px solid;
    border-radius: 5px;
    width: auto;
    margin: 2px;

    .title {
        grid-row: 1;
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
        text-align: center;
        width: 85%;
        border-bottom: 2px solid;
        border-image: $grad-line 1;
    }

    .bracket {
        grid-row: 2;
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
    }

    .resource {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: span 3;
        font-size: 20px;
        border-radius: 0;
        border-right: solid 2px;
        height: 100%;
    }

    input {
        border: none;
        background: none;
        box-shadow: unset;
        text-align: center;
        height: $font-primary-size;
        &:hover {
            @include text-glow;
        }
    }
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    width: 5.5em;
    margin: 2px;
    margin-bottom: auto;

    input {
        border: none;
        background: none;
        box-shadow: unset;
        text-align: center;
        height: $font-primary-size;
        &:hover {
            @include text-glow;
        }
    }

    label {
        text-align: center;
        width: 5em;
    }

    >.divisor {
        width: 80%;
        height: 3px;
        background: black;
    }
}

.txtbutton {
    display: inline-block;
    margin: 0 1px;
    padding: 4px 4px;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid var(--color-border-light-2);
    border-radius: 5px;
    text-align: center;
    min-width: 24px;
    font-size: 20px;
    cursor: pointer;

    &[data-enabled] {
        background: rgba(255, 255, 255, 0.25);
    }

    &:hover {
        border-color: $c-orange;
        box-shadow: 0 0 5px $c-orange, inset 0 0 5px var(--color-border-light-2);

        &:active {
            font-size: 16px;
            padding: 6px 6px;
        }
    }
}
