$shad-red: 0 0 10px red;

.hmstyle {
    .tablerow {
        margin: 2px 0;
        &:nth-child(2n-1) {
           background: $cs-light;
        }
    }

    .button {
        text-align: center;
        margin-left: 2px;
        &:hover {
            font-weight: bold;
            text-shadow: $shad-red;
        }
    }

    .imgbutton {
        @include button-border(5px);
    }
}
