<section class="abilities">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-abilities.hbs"}} 
</section>

<section class="middle-saves">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-saves-l.hbs"}} 
</section>

<section class="abilities-mods">
</section>

<section class="middle-saves">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-saves-r.hbs"}} 
</section>

<section class="middle-wounds">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-wounds.hbs"}} 
</section>
