{{#if (eq actor.type 'character')}}
<section class="abilities">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-abilities.hbs"}} 
</section>

{{/if}}
<section class="middle-saves">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-saves-l.hbs"}} 
</section>

<section class="middle-stats">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-stats.hbs"}} 
</section>

<section class="middle-saves">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-saves-r.hbs"}} 
</section>

<section class="middle-wounds">
    {{> "systems/hackmaster5e/templates/actor/parts/middle/middle-wounds.hbs"}} 
</section>
