{{#with data.data}}
<figure class="fraction">
    <label for="data.honor.value" class="resource-label">{{localize "HM.honor"}}</label>
    <input type="number" name="data.honor.value" value="{{honor.value}}" onwheel="this.blur()" data-dtype="Number"/>
</figure>
<figure class="fraction">
    <label for="data.fame.value" class="resource-label">{{localize "HM.fame"}}</label>
    <input type="number" name="data.fame.value" value="{{fame.value}}" onwheel="this.blur()" data-dtype="Number"/>
</figure>
{{/with}}
