{{#each data.data.derived.abilities as |ability key|}}
    <div class="ability flexrow">
        <h4>{{ability.value}}/{{ability.fvalue}}</h4>
        <label for="data.data.derived.abilities.{{key}}.value" class="resource-label rollable" data-roll-type="ability">
            {{localize (findConfigValue "ability_short" key)}}
        </label>
    </div>
{{/each}}
