<form class="{{cssClass}} flexcol actor-sheet" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/hackmaster5e/templates/actor/parts/header/header-base.hbs"}}
    </header>

    <section class="sheet-abilities">
        {{> "systems/hackmaster5e/templates/actor/parts/abilities.hbs"}}
    </section>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize "HM.skills"}}</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="inventory">{{localize "HM.inventory"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> "systems/hackmaster5e/templates/actor/parts/skills.hbs"}}
        </div>

        <div class="tab biography" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/actor/parts/biography.hbs"}}
        </div>

        <div class="tab items" data-group="primary" data-tab="inventory">
            {{> "systems/hackmaster5e/templates/actor/parts/inventory.hbs"}}
        </div>
    </section>
</form>
