<span>
    {{#with system}}
    {{#each (objSort ../_currencyData 'value' reverse=true)}}
    <input class='editable' type='number' value='{{qty}}' data-item-prop='system.coins.{{@key}}.qty' data-dtype='Number'>
    <label class='bold-label'>{{@key}}</label>
    {{/each}}
    {{/with}}
</span>
<span class='card-controls'>
</span>
