.combat-list {
    @extend .cards-list;
    margin: 7px 0; 

    .card {
        grid-template-columns: 60% 1fr; 
    }

    header {
        margin-right: 0;
    }

    input {
        margin-top: 1px;
        width: 2em;
        margin-right: 2px;
    }
}
