.combat-list {
    @extend .cards-list;
    margin: 7px 0; 

    h4 {
        padding-left: 2%;
    }

    input {
        margin-top: 1px;
        width: 2em;
        margin-right: 2px;
    }

    section {
        img {
            border: 0;
            margin-left: 5px;
            margin-right: 5px;
        }
    }


}
