<div class='hm-chat-note'>
    <span>
        <b>{{delta}}</b><i class="fa fa-hourglass-half"></i>
        {{name}} ({{old}} <i class="fa fa-arrow-right"></i> {{new}})
    </span>
    <a class="button message-delete"><i class="fas fa-trash"></i></a>
</div>
