{{localize 'HM.chatCard.toplimitPre'}} <i>{{localize 'HM.chatCard.top'}}</i>.
<div class='dice-roll'>
    <div class='dice-flavor'>
        {{localize 'HM.trauma'}} {{localize 'HM.alert'}}
    </div>
</div>
