<section class="setup grid-2col">
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-classes.hbs" }} 
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-abilities.hbs" }} 
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-misc.hbs" }} 
    </div>
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-priors.hbs" }} 
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-profs.hbs" }} 
    </div>
</section>
