<section class="setup grid-2col" style='grid-template-columns: 1fr 40%;'>
    <div class='grid-group-left' style='padding-right: 10px;'>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-priors.hbs" }} 
        <hr>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-abilities.hbs" }} 
        <hr>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-misc.hbs" }} 
    </div>
    <div class='scrollable' style='max-height: 30rem;'>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-classes.hbs" }} 
        <hr>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-profs.hbs" }} 
    </div>
</section>
