<section class="setup grid-2col">
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-base.hbs" }} 
    </div>
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-classes.hbs" }} 
    </div>
</section>
