<section class="grid-2col">
    <div class="setup-abilities">
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-abilities.hbs" }} 
    </div>
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-profs.hbs" }} 
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-classes.hbs" }} 
    </div>
</section>
