<section class="setup grid-2col">
    <div style='padding-right: 5px; border-right: 1px solid;'>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-classes.hbs" }} 
        <hr>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-abilities.hbs" }} 
        <hr>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-misc.hbs" }} 
    </div>
    <div>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-priors.hbs" }} 
        <hr>
        {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-profs.hbs" }} 
    </div>
</section>
