<section class="setup">
    <div class='flexrow'>
        <div class='flex0' style='flex: 0 1 auto;'>
            {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-misc.hbs" }} 
        </div>
        <div class='flex1' style='flex: 1 0 auto;'>
            {{> "systems/hackmaster5e/templates/actor/parts/setup/setup-move.hbs" }} 
        </div>
    </div>
</section>
