{{#with data}}
<section class='newform grid-3col'>
    <span class='col_rborder'>
        <span class='form-option'>
            <label class='resource-label'>{{localize 'HM.epvalue'}}</label>
            <input type='number' name='system.ep.value' value='{{system.ep.value}}' data-dtype='Number'/>
        </span>
    </span>
    <span class='col_rborder'></span>
    <span class='col_rborder'></span>
</section>
{{/with}}
