<section style='common-border'>
    <label class='resource-label'>Proficiencies and Specializations</label>
    <ol class='cards-list'>
        {{#each actor.itemTypes.proficiency}}
            {{> 'systems/hackmaster5e/templates/actor/cards/proficiency.hbs' }}
        {{/each}}
    </ol>
</section>
