$actor-gridgap: 4px;

.actor-sheet {
    display: grid;
    grid-gap: $actor-gridgap;
    width: $gwidth;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: auto;
    grid-template-areas:
        "sheet-header"
        "sheet-abilities"
        "sheet-tabs"
        "sheet-body";
}

.sheet-abilities {
    display: grid;
    grid-gap: $actor-gridgap;
    width: inherit;
    grid-template-columns: 8em 1fr 13em;
    grid-template-areas:
        "abilities abilities-mods abilities-wounds";
    .abilities {
        display: flex;
        flex-direction: column;
    }

    .abilities-mods {
        border: 2px solid;
        border-radius: 6px;
    }

    .abilities-wounds {
    }
}
