$actor-gridgap: 4px;
$actor-portrait-dim: 150px;
$actor-saves-dim: 150px;
$actor-wounds-dim: 180px;
$actor-logo-dim: 40%;
$beast-width: 620px;
$character-width: 820px;

#beast-sheet {
    width: $beast-width;

    .sheet-middle {
        grid-template-columns: $actor-saves-dim 1fr $actor-saves-dim $actor-wounds-dim;
        grid-template-areas:
            "middle-saves-l middle-stats middle-saves-r middle-wounds";
        }

    >header {
        .header-stats {
            .logo-corner {
                top: 25%;
            }
        }
    }
}

.actor-sheet {
    display: grid;
    width: $character-width;
    grid-gap: $actor-gridgap;
    grid-template-rows: repeat(4, min-content);

    >header {
        display: grid;
        grid-template-columns: 1fr $actor-logo-dim;
        column-gap: $padding-md;
        overflow: hidden;
        padding-bottom: $padding-sm;
        border-bottom: 1px solid #AAA;
        margin-bottom: $padding-sm;

        .header-portrait {
            img {
                flex: 0 0 $actor-portrait-dim;
                max-width: $actor-portrait-dim;
                max-height: $actor-portrait-dim;
                object-fit: cover;
                object-position: 50% 0;
                margin-right: $padding-md;
            }
        }

        .header-stats {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            position: relative;

            img {
                border: unset;
                height: auto;
                padding: 0;
            }

            .logo-corner {
                position: absolute;
                top: 48px;
                right: 0px;
                font-size: 8px;
            }

            >section {
                flex: 0 0;
                display: flex;
                flex-flow: row-reverse nowrap;
            }
        }
    }
}

.sheet-middle {
    display: grid;
    grid-gap: $actor-gridgap;
    width: inherit;
    grid-template-columns: $actor-portrait-dim $actor-saves-dim 1fr $actor-saves-dim $actor-wounds-dim;
    grid-template-areas:
        "abilities middle-saves-l middle-stats middle-saves-r middle-wounds";
    
    .middle-wounds {
        margin-top: 3px;
        padding: 2px;
        border: 2px solid $c-grey;
    }

    .abilities {
        display: flex;
        flex-direction: column;
    }

    .ability {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: end;
        column-gap: 10px;

        >span {
            text-align: end;
            font-size: 22px;
        }

        >label {
            text-align: start;
            padding-bottom: 2px;
        }
    }
}

.base-setup {
    section {
        @include common_border;
    }
    
    input {
        width: 2em;
    }

    .setup-abilities {
      @include table-basic;
    }

    .statbonuses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.base-combat {
    @include flexgrid;
}

