$actor-gridgap: 4px;
$actor-portrait-dim: 150px;

.actor-sheet {
    display: grid;
    grid-gap: $actor-gridgap;
    width: $gwidth;
    grid-template-rows: repeat(3, min-content);

    >header {
        display: grid;
        grid-template-columns: 1fr 40%;
        column-gap: 10px;
        overflow: hidden;
        margin-bottom: 10px;

        #header-portrait {
            img {
                flex: 0 0 $actor-portrait-dim;
                width: $actor-portrait-dim;
                height: $actor-portrait-dim;
                min-height: $actor-portrait-dim;
                margin-right: 10px;
            }
        }

        #header-stats {
            $stat-boxes: 3;
            display: grid;
            grid-template-columns: repeat($stat-boxes, 1fr);
            img {
                border: unset;
                grid-column: 1 / span $stat-boxes;
                height: auto;
                padding: 0;
            }
        }
    }
}

.sheet-middle {
    display: grid;
    grid-gap: $actor-gridgap;
    width: inherit;
    grid-template-columns: 8em auto 1fr auto 13em;

    grid-template-areas:
        "abilities middle-saves-l abilities-mods middle-saves-r middle-wounds";
    .abilities {
        display: flex;
        flex-direction: column;
    }

    .abilities-mods {
        @include border_rounded;
    }
}

.base-setup {
    section {
        @include common_border;
    }
    
    input {
        width: 2em;
    }

    .setup-abilities {
        @include flexgrid;
    }

    .statbonuses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.base-combat {
    @include flexgrid;
}
