$actor-gridgap: 4px;
$actor-portrait-dim: 150px;
$actor-saves-dim: 18%;
$actor-logo-dim: 40%;

.actor-sheet {
    display: grid;
    grid-gap: $actor-gridgap;
    width: $gwidth;
    grid-template-rows: repeat(3, min-content);

    >header {
        display: grid;
        grid-template-columns: 1fr $actor-logo-dim;
        column-gap: 10px;
        overflow: hidden;
        padding-bottom: 5px;
        border-bottom: 1px solid #AAA;
        margin-bottom: 5px;

        #header-portrait {
            img {
                flex: 0 0 $actor-portrait-dim;
                max-width: $actor-portrait-dim;
                max-height: $actor-portrait-dim;
                object-fit: cover;
                object-position: 50% 0;
                margin-right: 10px;
            }
        }

        #header-stats {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            position: relative;

            img {
                border: unset;
                height: auto;
                padding: 0;
            }

            .logo-corner {
                position: absolute;
                top: 48px;
                right: 0px;
                font-size: 8px;
            }

            >section {
                flex: 0 0;
                display: flex;
                flex-flow: row-reverse nowrap;
            }
        }
    }
}

.sheet-middle {
    display: grid;
    grid-gap: $actor-gridgap;
    width: inherit;
    grid-template-columns: $actor-portrait-dim $actor-saves-dim 1fr $actor-saves-dim 22%;
    grid-template-areas:
        "abilities middle-saves-l middle-stats middle-saves-r middle-wounds";
    
    .middle-wounds {
        margin-top: 3px;
        padding: 2px;
        border: 2px solid $c-grey;
    }

    .abilities {
        display: flex;
        flex-direction: column;
    }

    .ability {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: end;
        column-gap: 10px;

        >span {
            text-align: end;
            font-size: 22px;
        }

        >label {
            text-align: start;
            padding-bottom: 2px;
        }
    }
}

.middle-stats {
    display: grid;
    row-gap: $actor-gridgap;
    grid-template-rows: repeat(5, 1fr);
    >.honor { grid-row: 1 / span 2; }
    >.fame { grid-row: 3 / span 2; }

    >.widget {
        border: 2px solid;
        border-radius: 5px;
        display: grid;
    }
}

.base-setup {
    section {
        @include common_border;
    }
    
    input {
        width: 2em;
    }

    .setup-abilities {
        @include flexgrid;
    }

    .statbonuses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.base-combat {
    @include flexgrid;
}
