.bio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 12em 20em;
    row-gap: 10px;
}

.beast-bio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 12em 10em;
    row-gap: 10px;
}
