.bio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 12em 20em;
    column-gap: $padding-sm;
    row-gap: $padding-md;
}

.beast-bio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 12em 10em;
    column-gap: $padding-sm;
    row-gap: $padding-md;
}
