.inventory {
    display: flex;
    flex-direction: column;
    height: 32rem;

    &.beast {
        height: 22rem;
    }

    > header, > footer {
        margin: 2px 22px 2px 3px;
        display: grid;
        grid-template-columns: min-content 1fr;
        @include details-hor;
    }

    header select {
        margin-top: -2px;
        height: 20px;
    }

    > section {
        background-color: rgba(0, 0, 0, 0.01);
        flex: 1 1 auto;
    }
}
