<section class='scrollable' style='height: 22rem;'>
    <div>
    {{> "systems/hackmaster5e/templates/actor/parts/combat/base-combat.hbs" }}
    </div>
    <div>
    {{> "systems/hackmaster5e/templates/actor/parts/overview/overview-skills.hbs" }}
    </div>
</section>
