{{#with actor.skills}}
<div class='skills-list'>
    {{#if col1Skills}}
        <label class='resource-label'>{{localize 'HM.skills'}}</label>
        <div class='grid-2col'>
            <div>
                {{#each col1Skills}}
                    {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
                {{/each}}
            </div>

            <div>
                {{#each col2Skills}}
                    {{> 'systems/hackmaster5e/templates/actor/cards/skill.hbs' }}
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>
{{/with}}
