@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Korinan';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../styles/fonts/korinan.woff2') format('woff2');
}

@font-face {
    font-family: 'Gentium';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../styles/fonts/GenBkBasR.woff2') format('woff2');
}

@font-face {
    font-family: 'Gentium';
    font-style: italic;
    font-weight: normal;
    src: local(''), url('../styles/fonts/GenBkBasI.woff2') format('woff2');
}

@font-face {
    font-family: 'Gentium';
    font-style: normal;
    font-weight: bold;
    src: local(''), url('../styles/fonts/GenBkBasB.woff2') format('woff2');
}

@font-face {
    font-family: 'Gentium';
    font-style: italic;
    font-weight: bold;
    src: local(''), url('../styles/fonts/GenBkBasBI.woff2') format('woff2');
}

$font-primary: 'Korinan', 'Gentium', 'Roboto', serif;
$font-primary-size: 16px;
