.actor-sheet {
    display: grid;
    grid-gap: 4 px;
    width: 600px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "sheet-header"
        "sheet-abilities"
        "sheet-tabs"
        "sheet-body";
}
