<section class="base-combat grid-2col">
    <section "combat-weapons">
        {{> "systems/hackmaster5e/templates/actor/parts/combat/combat-weapons.hbs"}}
    </section>
    <section "combat-armor">
        {{> "systems/hackmaster5e/templates/actor/parts/combat/combat-armors.hbs"}}
    </section>
