{{#if (eq actor.type 'character')}}
<ol class='cards-list scrollable' style='height: 31.5rem;'>
{{else}}
<ol class='cards-list'>
{{/if}}
    {{#if actor.weapons.equipped.length}}
    <label class='resource-label'>{{localize 'HM.thingState.equipped'}}</label>
        {{#each actor.wprofiles}}{{#if (eq system.state 2)}}
            {{> 'systems/hackmaster5e/templates/actor/cards/weapon.hbs' }}
        {{/if}}{{/each}}
    <br>
    {{/if}}
    {{#if actor.weapons.innate.length}}
    <label class='resource-label'>{{localize 'HM.thingState.innate'}}</label>
       {{#each actor.wprofiles}}{{#if (eq system.state 3)}}
            {{> 'systems/hackmaster5e/templates/actor/cards/weapon.hbs' }}
        {{/if}}{{/each}}
    <br>
    {{/if}}
    {{#if actor.weapons.carried.length}}
    <label class='resource-label'>{{localize 'HM.thingState.carried'}}</label>
        {{#each actor.wprofiles}}{{#if (eq system.state 1)}}
            {{> 'systems/hackmaster5e/templates/actor/cards/weapon.hbs' }}
        {{/if}}{{/each}}
    {{/if}}
</ol>
