<ol class="cards-list">
{{#if actor.sflags.combat.weapon.equipped}}
    <label class="resource-label">{{localize "HM.equipped"}}</label>
    {{#each actor.weapons}}
        {{#if data.state.equipped}}
            {{> "systems/hackmaster5e/templates/actor/cards/weapon.hbs" }}
        {{/if}}
    {{/each}}
    <br>
{{/if}}
{{#if actor.sflags.combat.weapon.unequipped}}
    <label class="resource-label">{{localize "HM.unequipped"}}</label>
    {{#each actor.weapons}}
        {{#if data.state.equipped.checked}}{{else}}
            {{> "systems/hackmaster5e/templates/actor/cards/weapon.hbs" }}
        {{/if}}
    {{/each}}
{{/if}}
</ol>
