<ol class='cards-list scrollable' style='height: 32rem;'>
    {{#if actor.armors.equipped.length}}
    <label class='resource-label'>{{localize 'HM.thingState.equipped'}}</label>
        {{#each actor.armors.equipped}}
            {{> 'systems/hackmaster5e/templates/actor/cards/armor.hbs' }}
        {{/each}}
    <br>
    {{/if}}
    {{#if actor.armors.carried.length}}
    <label class='resource-label'>{{localize 'HM.thingState.carried'}}</label>
        {{#each actor.armors.carried}}
            {{> 'systems/hackmaster5e/templates/actor/cards/armor.hbs' }}
        {{/each}}
    {{/if}}
</ol>
