<ol class='cards-list'>
    {{#if actor.weapons.equipped.length}}
    <label class='resource-label'>{{localize 'HM.thingState.equipped'}}</label>
        {{#each actor.weapons.equipped}}
            {{> 'systems/hackmaster5e/templates/actor/cards/weapon.hbs' }}
        {{/each}}
    <br>
    {{/if}}
    {{#if actor.weapons.carried.length}}
    <label class='resource-label'>{{localize 'HM.thingState.carried'}}</label>
        {{#each actor.weapons.carried}}
            {{> 'systems/hackmaster5e/templates/actor/cards/weapon.hbs' }}
        {{/each}}
    <br>
    {{/if}}
</ol>
