// Spacing
$spacing-xs: 0.125rem;
$spacing-sm: 0.333rem;
$spacing-md: 0.667rem;
$spacing-lg: 1.000rem;

// Borders
$border-radius: 5px;
$border-width: 1px;
$border-color: #999;

$color-text-glow: #ff6347;

$font-primary: 'Korinan', 'Signika', sans-serif;
