<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <section class="sheet-body">
        {{#with data}}
        <div class='grid-2col' style='grid-template-columns: 40% 1fr; padding-top: 5px;'>
        </div>
        {{/with}}
    </section>
</form>
