@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid-1col {
  display: grid;
  grid-column: span 1/span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  display: grid;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-4col {
  display: grid;
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-5col {
  display: grid;
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-6col {
  display: grid;
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-7col {
  display: grid;
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-8col {
  display: grid;
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-9col {
  display: grid;
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-10col {
  display: grid;
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-11col {
  display: grid;
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-12col {
  display: grid;
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

/* Styles limited to hackmaster sheets */
.hackmaster .item-form {
  font-family: "Roboto", sans-serif;
}
.hackmaster .sheet-header {
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-content: start;
}
.hackmaster .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.hackmaster .sheet-header .header-fields {
  flex: 1;
}
.hackmaster .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.hackmaster .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.hackmaster .sheet-tabs {
  flex: 0;
}
.hackmaster .sheet-body,
.hackmaster .sheet-body .tab,
.hackmaster .sheet-body .tab .editor {
  height: 100%;
}
.hackmaster .tox .tox-editor-container {
  background: #fff;
}
.hackmaster .tox .tox-edit-area {
  padding: 0 8px;
}
.hackmaster .card h1.itemname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border: 0;
  border-bottom: 0;
}
.hackmaster .card h1.itemname input {
  width: 100%;
  height: 100%;
  border: 0;
}
.hackmaster .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}
.hackmaster .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.hackmaster .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.hackmaster .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.hackmaster .skills-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.hackmaster .skills-list .skills-header {
  font-weight: bold;
}
.hackmaster .skills-list .skill {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.hackmaster .skills-list .skill .skill-image {
  flex: 0 0 24px;
  margin-right: 5px;
}
.hackmaster .skills-list .skill img {
  display: block;
}
.hackmaster .skills-list .skill-name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}
.hackmaster .skills-list .skill-value {
  background: grey;
  margin-right: 2px;
  flex: 0 1 2em;
  text-align: right;
}
.hackmaster .skills-list .skill-controls {
  flex: 0 1 auto;
  text-align: right;
}
.hackmaster .skills-list .skill-column {
  display: flex;
  flex-direction: row;
}
.hackmaster .cards-list, .hackmaster .inventory-list, .hackmaster .combat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.hackmaster .cards-list .card-controls, .hackmaster .inventory-list .card-controls, .hackmaster .combat-list .card-controls {
  text-align: right;
  margin-right: 2px;
  margin-left: 2px;
}
.hackmaster .card {
  border: 2px solid #BBB;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3px;
}
.hackmaster .card .hide {
  display: none;
}
.hackmaster .card .details {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 3px;
  margin-right: 3px;
}
.hackmaster .card .details .stats {
  display: flex;
  flex-direction: row;
  flex: 1 1 3em;
  align-items: flex-end;
  justify-content: flex-end;
}
.hackmaster .card .details .stats label {
  margin-left: 5px;
  margin-right: 3px;
}
.hackmaster .card .details .stats input {
  margin-left: 5px;
}
.hackmaster .card .lid {
  display: flex;
  justify-content: space-between;
}
.hackmaster .card .lid section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 auto;
  border: 0;
  padding: 0;
}
.hackmaster .card .lid input {
  margin-top: 1px;
  width: 2em;
  margin-right: 2px;
}
.hackmaster .card header {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.hackmaster .card header h4 {
  margin-top: 1px;
  margin-bottom: -1px;
}
.hackmaster .card header img {
  flex: 0 0 auto;
  align-self: flex-start;
  display: block;
  border: transparent;
  -webkit-border-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: -2px;
  margin-right: inherit;
}
.hackmaster .card header label {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hackmaster .actor-sheet {
  display: grid;
  grid-gap: 4px;
  width: 800px;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: auto;
  grid-template-areas: "sheet-header" "sheet-abilities" "sheet-tabs" "sheet-body";
}
.hackmaster .sheet-header {
  display: flex;
  flex: 0 0 auto;
  direction: row;
  wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-content: start;
}
.hackmaster .sheet-header .header-portrait {
  flex: 0 1 auto;
}
.hackmaster .sheet-header .header-stats {
  flex: 1 0 auto;
}
.hackmaster .sheet-header .profile-img {
  flex: 0 0 100px;
  width: 150px;
  height: 150px;
  min-height: 150px;
  margin-right: 10px;
}
.hackmaster .sheet-header .header-fields {
  flex: 1;
}
.hackmaster .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.hackmaster .sheet-header h1.charname input {
  width: 60%;
  height: 100%;
  margin: 0;
}
.hackmaster .sheet-middle {
  display: grid;
  grid-gap: 4px;
  width: inherit;
  grid-template-columns: 8em 1fr auto 13em;
  grid-template-areas: "abilities abilities-mods middle-saves middle-wounds";
}
.hackmaster .sheet-middle .abilities {
  display: flex;
  flex-direction: column;
}
.hackmaster .sheet-middle .abilities-mods {
  border: 2px solid;
  border-radius: 6px;
}
.hackmaster .base-setup section {
  border: 1px solid #999;
  padding: 5px;
}
.hackmaster .base-setup input {
  width: 2em;
}
.hackmaster .base-setup .setup-abilities .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hackmaster .base-setup .setup-abilities .column {
  flex-basis: 100%;
  flex: 1;
}
.hackmaster .base-setup .statbonuses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hackmaster .base-combat .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hackmaster .base-combat .column {
  flex-basis: 100%;
  flex: 1;
}
.hackmaster .combat-list {
  margin: 7px 0;
}
.hackmaster .combat-list input {
  margin-top: 1px;
  width: 2em;
  margin-right: 2px;
}
.hackmaster .combat-list section img {
  border: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.hackmaster .inventory-list .inventory-details {
  display: grid;
  grid-template-areas: type location weight location;
  grid-template-columns: 1fr 5em 5em;
  column-gap: 2em;
}