$c-white: #fff;
$c-black: #000;
$c-grey: #bbb;
$c-orange: #ff6400;

$cs-light: rgba(0, 0, 0, 0.1);

$shad-red: 0 0 10px red;

$grad-line: linear-gradient(90deg, rgba(60,74,83,.00), rgba(60,74,83,0.90), rgba(60,74,83,.00));
