@mixin element-invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide {
  display: none;
}

@mixin border_rounded {
    border: 2px solid;
    border-radius: 6px;
}

@mixin common_border {
    border: 1px solid #999;
    padding: 5px;
}

@mixin flexgrid {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .column {
        flex-basis: 100%;
        flex: 1;
    }
}

@mixin card-border-left ($_border-radius) {
    border: transparent;
    -webkit-border-radius: #{$_border-radius};
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: #{$_border-radius};
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
     border-radius: #{$_border-radius};
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     margin: -$card_border;
     margin-right: inherit;
 }
