@mixin element-invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide { display: none !important; }

@mixin border_rounded {
    border: 2px solid;
    border-radius: 6px;
}

@mixin common_border {
    border: 1px solid #999;
    padding: 5px;
}

@mixin flexgrid {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .column {
        justify-content: flex-end;
        flex-basis: content;
        flex: 1;
    }
}

@mixin card-border-left ($_border-radius) {
    border: transparent;
    -webkit-border-radius: #{$_border-radius};
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: #{$_border-radius};
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
     border-radius: #{$_border-radius};
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     margin: -$card_border;
     margin-right: inherit;
 }

@mixin button-border ($_border-radius) {
    background: black;
    border: 2px solid;
    -webkit-border-radius: #{$_border-radius};
    -moz-border-radius: #{$_border-radius};
    border-radius: #{$_border-radius};
    &:hover {
        border-color: $c-orange;
        box-shadow: 0 0 2px $c-orange;
        &:active {
            padding: 2px;
            background: black;
        }
    }
}

@mixin table-basic {
    table {
        table-layout: fixed;
        width: auto;
        border-collapse: collapse;
        border: none;
        th {
            padding: 2px;
        }

        td {
            padding: 2px;
            text-align: right
        }

        select {
            height: 16px;
        }

        input[type=text], 
        input[type=number] {
            height: 16px;
            text-align: right;
        }

        input[type=text] {
            &[data-dtype="Number"] { width: 2em; }
            &[data-dtype="String"] { width: 6em; }
        }
    }
}

@mixin text-glow {
    font-weight: bold;
    text-shadow: $shad-red;
}
