.unit-dlm {
    font-size: 18px;
    font-style: normal;
    &:before {
        content: "/";
    }
}

.unit-pct {
    font-size: 10px;
    font-style: normal;
    margin-left: -5px;
    &:before {
        content: "%";
    }
}

.gold-star {
    color: yellow;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

.hm-arrow-svgi::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: url('../styles/icons/arrow.svg');
    background-size: contain;
}
