.unit-dlm {
    font-size: 18px;
    font-style: normal;
    &:before {
        content: "/";
    }
}

.unit-pct {
    font-size: 10px;
    font-style: normal;
    margin-left: -5px;
    &:before {
        content: "%";
    }
}

.gold-star {
    color: yellow;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

.fa-hm-heart-attack {
    .fa-heart {
        color: red;
        scale: 1.1;
    }
    .fa-heart-crack {
        color: black;
        scale: 1.1;
    }
}
