.unit-dlm {
    font-size: 18px;
    font-style: normal;
    &:before {
        content: "/";
    }
}

.unit-pct {
    font-size: 10px;
    font-style: normal;
    margin-left: -5px;
    &:before {
        content: "%";
    }
}
