<li class="card">
    <header>
        <label for="{{@key}}">
            <img src="icons/weapons/hammers/hammer-war-rounding.webp" title="{{@key}}" height=32"/>
            <h4 class="card-name">{{@key}}</h4>
        </label>
    </header>
    <div class="details">
        <div></div>
        <div>{{value}}</div>
    </div>
</li>
